@font-face {
    font-family: Georgia;
    src: url('./fonts/Georgia.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

::selection {
    background-color: #c6b344;
    color: #ffffff;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#search-input:placeholder-shown,
#search-input::placeholder {
    font-family: 'Work Sans';
}

.BlogRollTitle {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 700;
    font-stretch: normal;
    font-size: 18px;
    line-height: 26px;
    font-family: Merriweather, serif;
}

.BlogRollTitleAuthor {
    color: #333;
    font-weight: 600;
    margin-right: 8px;
    text-decoration: none;
    font: 400 12px Work Sans, sans-serif;
    letter-spacing: -0.2px;
    line-height: 1.33;
}

@media screen and (min-width: 1024px) {
    #category,
    #forbesTV {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .Blogroll1X2example {
        display: grid;
        grid-template-columns: 64% 36%;
        grid-gap: 12px;
    }

    .Blogroll1X2example > div {
        background-color: transparent;
    }

    .Blogroll1X2example div:first-of-type {
        grid-row: 1 / 3;
    }

    .BlogRoll1X3VideoSection {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 1px;
    }

    .BlogRoll1X3VideoSection > div {
        background-color: transparent;
    }

    .BlogRoll1X3VideoSection div:first-of-type {
        grid-row: 1 / 3;
    }

    .parentArticle:first-child {
        display: flex;
        flex-direction: column;
    }

    .parentArticle:first-child div article {
        display: flex;
        flex-direction: column-reverse;
    }

    .parentArticle:first-child div article * {
        width: 100%;
    }

    #mainTwoBogroll1 div:first-of-type {
        width: 100%;
    }

    #mainTwoBogroll1 div:first-of-type div article {
        display: flex;
        flex-direction: row;
    }

    #mainTwoBogroll1 div:first-of-type div article #row-flexed {
        width: 30%;
        margin: 5px;
    }

    #mainTwoBogroll1 div:first-of-type div article #row-reversed {
        width: 30%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
